body{
    font-size: 24px;
    font-family: 'Raleway',sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,p,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 1620px;
    margin: auto;
}



header{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #121212;
}
.header-list{
    display: flex;
    gap: 100px;
}
.header-link{
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
}
.header-link:hover{
    color: #B2FFA6;
}
.hero{
    border-bottom: 1px #000000 solid;
}
.hero-container{
    justify-content: space-between;
    display: flex;
    padding-left: 150px;
}
.hero-wrap{
    padding-top: 150px;
}
.hero-subtitle{
    font-size: 64px;
    padding-bottom: 20px;
    font-weight: 400;
}
.hero-title{
    font-size: 64px;
    padding-bottom: 50px;
    font-weight: 700;
}
.hero-link{
    padding: 15px 80px 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald',sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color:#000000;
}
.about{
    background-color: #EFEFEF;
    box-shadow: 0px 4px 4px 0px #000000;
}
.about-container{
    display: flex;
    gap: 78;
}
.about-title{
    padding-top: 98px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}
.about-text{
    padding-bottom: 60px;
    width: 800px;
}
.about-link{
    padding: 15px 80px 15px 80px;
    background-color: #B2FFA6;
    font-family: 'Oswald',sans-serif;
    font-size: 24px;
    border: none;
    color:#000000;
    border-radius: 5px;
}
.pros{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
}
.pros-list{
    display: flex;
    gap:115px;
    width: 929px;
    flex-wrap: wrap;
    padding-right: 154px;
}
.pros-item{
    display: flex;
    width: 407px;
}
.pros-container{
    display: flex;
}
.pros-img{
    height: 50px;
    padding-right: 28px;
}


.servises{
    padding-top: 60px;
    padding-bottom: 60px ;
    display: flex;
    background-color: #EFEFEF;
    text-align: center;
}

.servises-wrap{
    display: flex;

}
.servises-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 40px;
}
.servises-text{
    padding-bottom: 56px;
}

.servises-list{
    display: flex;;
    gap: 20px;
    padding-bottom: 80px;
}

.servises-link{
    text-align: center;
    padding: 15px 80px 15px 80px;
    border: 3px #B2FFA6 solid;
    font-family: 'Oswald',sans-serif;
}
.servises-link{
    color: #000000;
}
.servises-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}





.footer{
    background-color: #121212;
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copywrite{
    color: #FFFFFF;
}




.engineer{
    display:flex;
}
.engineer-container{
    display:flex; 
    flex-direction: column;
}
.engineer-img{
    width: 731px;
    height: 794px;
    padding-left:440px;
}
.engineer-button{
    padding: 30px 200px 30px 200px;
    background-color: #B2FFA6;
    font-size: 32px;
}